.general_body{
    display: block;
    width: 100%;
    margin-top: 75px;
}
.prenvention_section{
    display: block;
}
.prenvention_section > .title{
    text-align: center;
    color: white;
    width: 100%;
    background-color: #5C80BC;
    display: flex;
    align-items: center;
    margin-top: 300px;
    margin: 0;
    justify-content: center;
}
.prenvention_section > .title {
    font-size:x-large;
}
.prenvention_section > .sub-title {
    padding: 15px 8% 15px 8%;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    color: #5C80BC;
}
.first-list{
    display: grid;
    justify-content: center;
}
.prenvention_section > .sub-title > strong{
    color: black;
}
.li_prentention{
    display: inline-flex;
    align-items: center;
    text-align: justify;
    color: #5C80BC;
}
.second-list{
    display: grid;
    justify-content: center;
    width: 65%;
}
.icon-list{
    width: 30px;
    height: 30px;
}
.icon-list-2{
    width: 10px;
    height: 10px;
    padding: 10px;
}
.second-sub_title{
    padding: 15px 8% 15px 8%;
    text-align: justify;
    font-weight: bold;
    font-size: 18px;
    color: #5C80BC;
}
.map_alert_zone{
    background-color: #5C80BC;
    color: white;
    text-align: center;
    display: flex;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border-top: 1px solid #2D7E71;
}
.map_alert_zone > .map{
    margin: 0;
    padding: 30px 0 30px 0;
    width: 50%;
    height: 800px;
    writing-mode: vertical-rl;
}
.map_alert_zone > .map > iframe{
    border: 1px solid #5C80BC;
    border-radius: 15px;
    width: 80%;
    min-height: 500px;
    box-shadow: 4px 4px 4px #2D7E71;
    min-height: 650px;
    height: auto;
}
.alert_from_api{
    margin: 0;
    padding: 30px 0 30px 0;
    width: 50%;
    overflow-y: scroll;
    height: 800px;
}
.alert_from_api > h2{
    color: #98486b;
}
.list_alert{
    text-align: justify;
}
.alert_from_api > h2 > img {
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    padding:5px;
}
.alert_from_api > h6{
    text-align: justify;
    position:relative;
    padding: 100px 25px 5px 25px;
    font-size: 10px;
}
.alert-icon{
    width: 20px;
    height: 20px;
    vertical-align: text-bottom;
    padding-right: 5px;
}
.list_alert > .alert-zone {
    padding-top: 30px;
}
.img-list{
    display: inline-flex;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
}
.fire-icon{
    width: 35%;
    height: auto;
    display: flex;
    justify-content: center;
    padding: 35px;
}
.fire-icon > img{
    width: 100%;
    height: auto;
    border: 1px solid #2D7E71;
    border-radius: 20px;
    box-shadow: 2px 2px 10px #2D7E71;
    align-self: center;
}
.general_body > .prenvention_section > .img-list > .second-list{
    padding: 0;
}
.general_body > .prenvention_section > .img-list > .second-list > li{
    padding: 0 30px 0 0;
}